@media (prefers-color-scheme: dark) {
    body {
        background-color: #181e23 !important;
        color: #8c929a;
    }
    h1 {
        color: #8c929a;
    }
 
    /* OPTIONS PAGE */
    /* Donations Area */
    .pvbdonationsoffer {
        max-width: 100%;
        min-width: 495px;
        margin: 15px 0 15px 0;
        background: #202931 url(../img/donationbg-dark.png);
        background-repeat: repeat; 
        border-radius: 7px;
        box-sizing: border-box;
        border: 1px solid #111417;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
    }
    .pvbdonationtext {
        color: #8b929a;
    }
    .pvbdonationtext h3 {
        color: #44a5cd;
    }

    button.pvbdonate, input.pvbdonate {
        background: #b4da32;
        box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, .2);
        color: #202931;
    }
    button.pvbdonate:hover, input.pvbdonate:hover {
        background-color:#a3c824;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        color: #202931;
    }
    button.pvbdonate:focus, input.pvbdonate:focus {
        background-color: #a3c824;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        color: #202931;
    }
    button.pvbdonatedismiss, input.pvbdonatedismiss {
        border-left: 1px solid #111417;
        border-bottom: 1px solid #111417;
        border-right: none;
        border-top: none;
        background: #202931;
        color: #8b929a;
    }
    button.pvbdonatedismiss:hover, input.pvbdonatedismiss:hover {
        background-color: #a92323;
        color: #202931;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    button.pvbdonatedismiss:focus, input.pvbdonatedismiss:focus {
        background-color: #a92323;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        outline: none;
        color: #202931;
    }

    /* Info Area */
    .pvbinfowrap {
        background: #1e2931;
        border: 1px solid #111417;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    @media screen and (min-width:1200px) {
        .pvbinfowrapleft {
            background: #44a5cd url(../img/pvb-ocean.jpg);
            border-right: 1px solid #111417;
        }
    }
    .pvbinfowraptext h1 {
        color: #44a5cd;
    }
    .pvbinfowraptext p {
        color: #88929a;
    }
    button.pvbinfodismiss, input.pvbinfodismiss {
        border-left: 1px solid #111417;
        border-bottom: 1px solid #111417;
        background: #1e2931;
        color: #88929a;
    }
    button.pvbinfodismiss:hover, input.pvbinfodismiss:hover {
        background-color: #a92323;
        color: #202931;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    button.pvbinfodismiss:focus, input.pvbinfodismiss:focus {
        background-color: #a92323;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        color: #202931;
    }

    /* top menu links section */
    nav {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid #111417;
        background: #1e2931;
    }
    @media screen and (max-width: 850px) {
        .toggle {
            color: #202931;
            background: #44a5cd;
        }
        .toggle:hover {
            background: #202931;
            color: #88929a;
        }
    }
    .first {
        background: #212c34;
    }
    .first li a {
        color: #8a929a;
    }
    .first li a:hover {
        background: #44a5cd;
        color: #202931;
    }
    .first li#donate a {
        background: #b9d745;
        color: #202931;
    }
    .first li#donate a:hover {
        background: #a3c824;
        color: #202931;
    }

    /* Other sections */
    .pvbareawrap {
        background: #1e2931;
        border: 1px solid#111417;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    .pvbareawrap p {
        color: #88929a;
    }
    .pvbareawrap h1 {
        color: #44a5cd !important;
    }
    .pvbareawrap h2 {
        color: #88929a !important;
    }
    .pvbareawrap h3 {
        color: #88929a !important;
    }

    /* Options section */
    .pvbsuccess {
        color: #acafb1;
        background-color:#222b01;
        border: 1px solid#111417;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        animation-name: colorsuccess;
        animation-duration: 1s;
        animation-iteration-count: 3;
    }
    .pvbfail {
        color: #acafb1;
        background-color:#2b0101;
        border: 1px solid#111417;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        animation-name: colorfail;
        animation-duration: 1s;
        animation-iteration-count: 3;
    }
    @keyframes colorsuccess {
        0% {
          background-color: #222b01;
        }
        50% {
          background-color: #2f3b00;
        }
        100% {
          background-color: #222b01;
        }
      }
    @keyframes colorfail {
        0% {
          background-color: #2b0101;
        }
        50% {
          background-color: #500000;
        }
        100% {
          background-color: #2b0101;
        }
    }
    .pvboptionswrap {
        background: #1e2931;
        border: 1px solid#111417;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    .pvboptionswrap p {
        color: #88929a;
    }
    .pvboptionswrap h1 {
        color: #44a5cd !important;
    }
    .pvboptionswrap h2 {
        color: #88929a !important;
    }
    .pvboptionswrap h3 {
        color: #88929a !important;
    }

    /* nav tabs */
    .nav-tab-wrapper li {
        border: 1px solid #111417;
        background-color: #181f25 !important;
    }
    .nav-tab-wrapper li.active {
        background-color: #202931 !important;
        border-bottom: 1px solid #202931 !important;
        box-shadow: none !important;
    }
    a.tab-text {
        color: #8a929a !important;
    }
    a.tab-text:hover, a.tab-text:active {
       color: #989fa7 !important;
    }
    @media screen and (max-width: 750px) {
        .nav-tab-wrapper li {
            border: 1px solid #111417 !important;
        }
        .nav-tab-wrapper li.active {
            border: 1px solid #202931 !important;
        }
    }

    /* options area range slider */
    .range_sliderrange {
        background: #44a5cd;
        border:1px solid #111417;
    }
    .range_sliderrange::-webkit-slider-thumb {
        background: #2d3640;
        border:1px solid #111417;
    }
    .range_sliderrange::-moz-range-thumb {
        background: #2d3640;
        border:1px solid #111417;
    }
    .range_sliderrange::-ms-thumb {
        background: #2d3640;
        border:1px solid #111417;
    }
    .range_slidervalue, .range_slidervalue2, .range_slidervalue3, .range_slidervalue4, .range_slidervalue5, .range_slidervalue6 {
        color: #8b929a;
        background: #202931;
    }
    .range_sliderrange::-moz-range-track {
        background: transparent;
    }

    /*styles for colored switches*/
    .onoffswitch-label {
        border: 1px solid #111417;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        color: #202931;
    }
    .onoffswitch-inner:before {
        background-color: #44A5CD;
        color: #202931;
    }
    .onoffswitch-inner:after {
        background-color: #1d232b;
        color: #999999;
    }
    .onoffswitch-switch {
        background: #2d3640;
        border: 1px solid #111417;
    }

    /* form table */
    .pvb_settingsform_row {
        border: 1px solid #111417;
    }
    .pvb_settingsform_left {
        background: #171e24;
    }
    .pvb_settingsform_left h3 {
        color: #8a929a;
    }
    .pvb_settingsform_right {
        background: #1c232b;
        border-left: 1px solid #111417;
    }

    /* Input fields - not chosen-multi */
    input.pvb[type=text] {
        border: 1px solid #111417 !important;
        background: #202931;
        color: #88929a;
    }
    input.pvb[type=text]:focus {
        border: 1px solid #44a5cd !important;
    }
    p.note {
        color: orange;
    }
    p.warning {
        color: red;
    }

    /* STATS PAGE*/
    .pvberror {
        border-bottom: 1px solid #111417;
    }
    .pvberror h2, .pvberror h3 {
        color: #8c929a !important;
    }
    .pvberrortitle {
        background: #44a5cd; /* Old browsers */
        color: #202931;
        border-bottom: 1px solid #111417;
    }
    .pvberrorinside {
        border-left: 1px solid #111417;
        border-right: 1px solid #111417;
        color: #8c929a;
    }

    /* Top API info Columns */
    #query-warning strong {
        color: #878023;
    }

    #query-critical strong {
        color: #872323;
    }

    .api-info h1 {
        color: #44a5cd;
    }

    .api-info h2 {
        color: #8c929a;
    }

    .api-info-title-small {
        color: #8c929a;
    }

    .api-info-queries-used, .api-info-queries-max, .api-info-bursts {
        color: #8c929a;
    }
    
    .api-info-col1 {
        background: #1e2931;
        border: 1px solid #111417;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    .api-info-col2 {
        background: #1e2931;
        border: 1px solid #111417;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    .api-info-col3 {
        background: #1e2931;
        border: 1px solid #111417;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    } 
        
    /* stats table and whitelist/blacklist */
    #log_outer {
        background: #1e2931;
        border: 1px solid #111417;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    .stats-fancy {
        border-bottom: 1px solid #111417;
    }
    .stats-fancy a:link {
        color: #44a5cd;
    }
    .stats-fancy a:visited {
        color: #44a5cd;
    }
    .stats-fancy a:link:hover, .stats-fancy a:hover {
        color: #7a7e81;
    }
    .stats-fancy section header .col {
        color: #44a5cd;
        border-bottom: 2px solid #44a5cd;
    }

    .stats-fancy > section .col:nth-child(1) span {
        background-color: #202931;
        color: #88929a;
        border: 1px solid #111417;
    }
    .stats-fancy section .row > .col.country > img.country-flag {
        border: 1px solid #111417;
    }

    /* coluns odd/even style */
    .stats-fancy .row:nth-child(odd) {
        background:#1a2026;
        color: #88929a;
    }
    .stats-fancy .row:nth-child(even) {
        background: #161c21;
        color: #88929a;
    }
    .stats-fancy .row:hover {
        background: #1b2329 ;
    }

    /* style the types */
    .stats-fancy > section > .row > .col.type > span.vpn {
        background: #3a2201;
        color: #ffab1f;
        border: 1px solid #ffab1f;
    }
    .stats-fancy > section > .row > .col.type > span.proxy {
        background: #390202;
        color: #fc2323;
        border: 1px solid #fc2323;
    }
    .stats-fancy > section > .row > .col.type > span.blacklist {
        background: #202225;
        color: #88929a;
        border: 1px solid #88929a;
    }
    .stats-fancy > section > .row > .col.type > span.rule {
        background: #2b0437;
        color: #8e03c2;
        border: 1px solid #8e03c2;
    }

    /* Buttons */
    button.pvbdefault, input.pvbdefault {
        border: 2px solid #44a5cd;
        background: #202931;
        color: #44a5cd;
    }
    button.pvbdefault:hover, input.pvbdefault:hover {
        background-color:#44a5cd;
        border: 2px solid #44a5cd;
        color: #202931;
    }
    button.pvbdefault:focus, input.pvbdefault:focus,
    button.pvbdefault:active, input.pvbdefault:active {
        background-color:#44a5cd;
        border: 2px solid #44a5cd;
        color: #202931;
    }
    button.pvbdismiss, input.pvbdismiss {
        border: 2px solid #c92828;
        background: #fff;
        color: #c92828;
    }
    button.pvbdismiss:hover, input.pvbdismiss:hover {
        background-color: #c92828;
        border: 2px solid #c92828;
        color: #fff;
    }
    button.pvbdismissfocus, input.pvbdismiss:focus,
    button.pvbdismissactive, input.pvbdismiss:active {
        background-color: #c92828;
        border: 2px solid #c92828;
        outline: none;
        color: #fff;
    }

    /* WHITELIST/BLACKLIST PAGE */
    #add-list-wrapper:hover {
        border: none;
    }
    #add-list-form {
        background-color: #191e23;
        border: none;
    }
    #add-list-wrapper #add-list-text {
        background-color: transparent;
        color: #8c929a !important;
    }
    #add-list-wrapper input[type="text"] {
        background-color: transparent;
        color: #8c929a !important;
    }
    #add-list-wrapper input[type="text"]:focus {
        background-color: transparent;
        color: #8c929a !important;
    }
    #add-list-button {
        color: #fff;
        background-color:#44a5cd;
    }
    #add-list-button:hover, #add-list-button:active {
        background-color:#3a8fb8;
        color: #fff;
    }

    /* delete entry button */
    button.entrydelete, input.entrydelete {
        background: #c90000;
        color: #fff;
    }
    button.entrydelete:hover, input.entrydelete:hover {
        background-color:#aa0000;
        color: #fff;
    }
}